* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.table-title {
    padding-bottom: 30px;
    font-size: 1.2em;
    font-family: var(--title-font);
    color: var(--borderbottom-color);
    text-align: center;
}

.table-section {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    justify-content: center; 
    align-items: center;   
    width: 100%;
    max-width: 1200px;
    height: auto;
    padding: 30px 20px;
    margin: auto;
    overflow-x: auto;    
}

#table-breakerDisplay {
    background-color: var(--top-bar_color);
    width: 90%;
    height: auto;
    border-collapse: collapse;
    font-family: var(--text-font);
    font-size: .88em;
    margin-bottom: 30px;
    table-layout: auto;    
}

th, td {
    text-align: center;
    border: .7px solid var(--borderbottom-color);
    padding: 7px;    
}

.dashboard-showDetails {    
    border: none;
    background-color: transparent;
    transition: color .3s ease;    
}

.dashboard-showDetails:hover{
    color: var(--sysmax-blue1);
    cursor: pointer;    
}

thead {
    background-color: var(--borderbottom-color);
    color: var(--top-bar_color);
    border-bottom: 2px solid var(--sysmax-blue1);
}

#table-breakerDisplay tr:nth-child(even) {
    background-color: var(--txt-color);
}

/* tr:hover {
    background-color: rgba(60, 60, 60, 0.8);
    color: var(--top-bar_color);
} */