.userSettings{    
    text-align: center;
    width: 100%;    
    height: inherit;    
    background-color: var(--sysmax-main_bg);
    padding: 30px 20px;
    font-family: var(--title-font);
    overflow: hidden;   
}

.userSettings-settings{
    background-color: var(--top-bar_color);
    width: 60%;
    max-width: 1200px;
    height: auto;
    border: .7 solid var(--borderbottom-color);
    margin: 30px auto;
    font-family: var(--text-font);   
}

.settings-header{
    height: 3em;
    width: 100%;    
    background-color: var(--sysmax-noctisGray);
    display: flex;
    /* justify-content: space-between; */
    gap: 1em;
    align-items: center;
    padding: 10px 5px;
    color: #F6F8FA;
}
.settings-header .settings-title{
    font-size: larger;
    font-weight: bold;
}

/* .settings-settings{
    height: fit-content;
} */

.settings-row{
    height: 2.5em;
    width: 100%;
    border: .7px solid var(--borderbottom-color);
    color: var(--title-color);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    font-weight: bold;
    width: inherit;
    text-align: left;
}

.settings-row p{    
    flex: 1;
}

.settings-row p:nth-child(1){
    color: var(--borderbottom-color2);
}

.settings-row p:nth-last-child(1){
    text-align: right;
}

.settings-row:hover{
    background-color: rgba(0,0,0,0.2);
    transition: 0.1s;
    cursor: pointer;
}

